footer{
    background-color:#332043 !important ;

}
.foot1{
        width: 100% !important;
}
.list-inline-item:hover{
    color: #fdcf12 ;
}

.clickOccur:hover{
    color: #fdcf12 ;
}
.colorYellow{
    color: #fdcf12 ;
}
img{
    width: 90px;
    height: 60px;
}