nav ol{
    padding: 30px;
    

}

#guid{
    // width: 400px !important;
    margin:  0 auto;
    text-align: center;

}

.guiid{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: #fe3c5c !important;
    font-weight: 600;
}

.breadcrumb {

    background-color: white;
}