
<div class="container-fluid guiid">
    <div class="row">
        <div class="col-md-12">
            <div class="" id="guid">
           
                  <h2>Shop </h2>
                  <nav aria-label="breadcrumb bg-light">
                    <ol class="breadcrumb  lighten-3">
                      <li class="breadcrumb-item"><i class="far fa-star mr-2 pink-text" aria-hidden="true"></i><a
                          class="black-text" href="#">Home</a></li>
                      <li class="breadcrumb-item pink-text active"><i class="far fa-star mx-2 pink-text" aria-hidden="true"></i>Shop
                      </li>
                    </ol>
                  </nav>
             
        </div>
        </div>
    </div>
</div>
