
<div class="container-fluid guiid">
    <div class="row">
        <div class="col-md-12">
            <div class="" id="guid">
           
                  <h2>Feature</h2>
                  <nav aria-label="breadcrumb bg-light">
                    <ol class="breadcrumb  lighten-3">
                      <li class="breadcrumb-item"><i class="far fa-star mr-2 pink-text" aria-hidden="true"></i><a
                          class="black-text" href="#">Home</a></li>
                      <li class="breadcrumb-item pink-text active"><i class="far fa-star mx-2 pink-text" aria-hidden="true"></i>Feature
                      </li>
                    </ol>
                  </nav>
             
        </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="ReturnID ===1">
    <div class="container mt-5"  *ngFor="let fea of  Features ; let ind = index">
<span *ngIf="ind === 0"> 
     <section class="">
      
            <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-lg-8 col-md-12 mb-lg-0 mb-4">
      
                      <!-- Featured image -->
              <div class="view  z-depth-1 mb-lg-0 mb-4">
                <img  class="img-fluid img1" [src]="fea.imgUrl" alt="Sample image">
                <img class="img-fluid img2" [src]="fea.img" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-md-0 mb-4 mt-xl-4">
      
                 <h3 class="font-weight-normal mb-4">{{fea.name}}</h3>
               <p class="text-muted">Option as can distributors. And to suppliers, given a copy the horrible arrange yes, we had hundreds leave was more which a I the king's had the so soon throughout in necessary which at way did phase a young written, descriptions, late uninspired, to times owner themselves them. Get sported uninspired, the a box to an to but on been the succeed have couldn't set.</p>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </section>
    
    </span>

        <!--Section: Content-->
      
        <!--Section: Content-->
      
      
      </div>
</div>
<!--------------------2--------------------------->

<div class="container" *ngIf="ReturnID ===2">
    <div class="container mt-5"  *ngFor="let fea of  Features ; let ind = index">
<span *ngIf="ind === 1"> 
     <section class="">
      
            <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-lg-8 col-md-12 mb-lg-0 mb-4">
      
                      <!-- Featured image -->
              <div class="view  z-depth-1 mb-lg-0 mb-4">
                <img  class="img-fluid img1" [src]="fea.imgUrl" alt="Sample image">
                <img class="img-fluid img2" [src]="fea.img" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-md-0 mb-4 mt-xl-4">
      
                 <h3 class="font-weight-normal mb-4">{{fea.name}}</h3>
               <p class="text-muted">Option as can distributors. And to suppliers, given a copy the horrible arrange yes, we had hundreds leave was more which a I the king's had the so soon throughout in necessary which at way did phase a young written, descriptions, late uninspired, to times owner themselves them. Get sported uninspired, the a box to an to but on been the succeed have couldn't set.</p>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </section>
    
    </span>

        <!--Section: Content-->
      
        <!--Section: Content-->
      
      
      </div>
</div>

<!-----------------------3------------------------->

<div class="container" *ngIf="ReturnID ===3">
    <div class="container mt-5"  *ngFor="let fea of  Features ; let ind = index">
<span *ngIf="ind === 2"> 
     <section class="">
      
            <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-lg-8 col-md-12 mb-lg-0 mb-4">
      
                      <!-- Featured image -->
              <div class="view  z-depth-1 mb-lg-0 mb-4">
                <img  class="img-fluid img1" [src]="fea.imgUrl" alt="Sample image">
                <img class="img-fluid img2" [src]="fea.img" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-md-0 mb-4 mt-xl-4">
      
                 <h3 class="font-weight-normal mb-4">{{fea.name}}</h3>
               <p class="text-muted">Option as can distributors. And to suppliers, given a copy the horrible arrange yes, we had hundreds leave was more which a I the king's had the so soon throughout in necessary which at way did phase a young written, descriptions, late uninspired, to times owner themselves them. Get sported uninspired, the a box to an to but on been the succeed have couldn't set.</p>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </section>
    
    </span>

        <!--Section: Content-->
      
        <!--Section: Content-->
      
      
      </div>
</div>
<!------------------------4------------------------->

<div class="container" *ngIf="ReturnID ===4">
    <div class="container mt-5"  *ngFor="let fea of  Features ; let ind = index">
<span *ngIf="ind === 3"> 
     <section class="">
      
            <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-lg-8 col-md-12 mb-lg-0 mb-4">
      
                      <!-- Featured image -->
              <div class="view  z-depth-1 mb-lg-0 mb-4">
                <img  class="img-fluid img1" [src]="fea.imgUrl" alt="Sample image">
                <img class="img-fluid img2" [src]="fea.img" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-md-0 mb-4 mt-xl-4">
      
                 <h3 class="font-weight-normal mb-4">{{fea.name}}</h3>
               <p class="text-muted">Option as can distributors. And to suppliers, given a copy the horrible arrange yes, we had hundreds leave was more which a I the king's had the so soon throughout in necessary which at way did phase a young written, descriptions, late uninspired, to times owner themselves them. Get sported uninspired, the a box to an to but on been the succeed have couldn't set.</p>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </section>
    
    </span>

        <!--Section: Content-->
      
        <!--Section: Content-->
      
      
      </div>
</div>
<!-----------------------5-------------------------->

<div class="container" *ngIf="ReturnID ===5">
    <div class="container mt-5"  *ngFor="let fea of  Features ; let ind = index">
<span *ngIf="ind === 4"> 
     <section class="">
      
            <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-lg-8 col-md-12 mb-lg-0 mb-4">
      
                      <!-- Featured image -->
              <div class="view  z-depth-1 mb-lg-0 mb-4">
                <img  class="img-fluid img1" [src]="fea.imgUrl" alt="Sample image">
                <img class="img-fluid img2" [src]="fea.img" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-md-0 mb-4 mt-xl-4">
      
                 <h3 class="font-weight-normal mb-4">{{fea.name}}</h3>
               <p class="text-muted">Option as can distributors. And to suppliers, given a copy the horrible arrange yes, we had hundreds leave was more which a I the king's had the so soon throughout in necessary which at way did phase a young written, descriptions, late uninspired, to times owner themselves them. Get sported uninspired, the a box to an to but on been the succeed have couldn't set.</p>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </section>
    
    </span>

        <!--Section: Content-->
      
        <!--Section: Content-->
      
      
      </div>
</div>

<!------------------------6----------------------------->

<div class="container" *ngIf="ReturnID ===6">
    <div class="container mt-5"  *ngFor="let fea of  Features ; let ind = index">
<span *ngIf="ind === 5"> 
     <section class="">
      
            <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-lg-8 col-md-12 mb-lg-0 mb-4">
      
                      <!-- Featured image -->
              <div class="view  z-depth-1 mb-lg-0 mb-4">
                <img  class="img-fluid img1" [src]="fea.imgUrl" alt="Sample image">
                <img class="img-fluid img2" [src]="fea.img" alt="Sample image">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-md-0 mb-4 mt-xl-4">
      
                 <h3 class="font-weight-normal mb-4">{{fea.name}}</h3>
               <p class="text-muted">Option as can distributors. And to suppliers, given a copy the horrible arrange yes, we had hundreds leave was more which a I the king's had the so soon throughout in necessary which at way did phase a young written, descriptions, late uninspired, to times owner themselves them. Get sported uninspired, the a box to an to but on been the succeed have couldn't set.</p>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </section>
    
    </span>

        <!--Section: Content-->
      
        <!--Section: Content-->
      
      
      </div>
</div>


<app-footer2></app-footer2>